

    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    ::-webkit-scrollbar {

        width: 1px;
        

    }

    :root {
        --step--2: clamp(0.87rem, calc(0.83rem + 0.18vw), 0.96rem);
        --step--1: clamp(1.04rem, calc(0.98rem + 0.31vw), 1.20rem);
        --step-0: clamp(1.25rem, calc(1.15rem + 0.49vw), 1.50rem);
        --step-1: clamp(1.50rem, calc(1.35rem + 0.73vw), 1.88rem);
        --step-2: clamp(1.80rem, calc(1.59rem + 1.06vw), 2.34rem);
        --step-3: clamp(2.16rem, calc(1.86rem + 1.50vw), 2.93rem);
        --step-4: clamp(2.59rem, calc(2.17rem + 2.09vw), 3.66rem);
        --step-5: clamp(3.11rem, calc(2.54rem + 2.86vw), 4.58rem);
      }
        
    

    :root {
    
        background-image: url(../uploads/BGFULL.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #181B2D;
        font-family: 'Quicksand', sans-serif;
       
    
    }

    html , body {

        margin: 0;
        padding: 0;
    }

    i {

        padding-right: 10px;
    
     }

     section {

        margin-top: 10rem;
     }
        
        .row-container-nav {
        
            display: flex;
            justify-content: space-between;
            text-decoration-line: none;
            color: white;
            align-items: center;
            gap: 13px;
        
        
        }
    
    
    header {
        

        top: 0;
        width: 100%;
        
        

    }
    
    
    
    .headNav {
    
        display: flex;
        gap: 30px;
        margin: 5px;
        padding: 5px;
        text-decoration: none;
    
    }
    
    a {
    
    
        text-decoration-line: none;
    
    
    }
    
    .a-1 {
    
        font-size: var(--step--5);
        color: rgb(255, 255, 255); 
        padding-left: 10px;
    
    }
    
    .a-1:hover {
    
        color: rgba(255, 255, 255, 0.699);
        
    
    }

  .text-main {

    margin-top: 5rem;

  }

    .row {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: white;
        padding-left: 50px;
        padding-right: 50px;
        font-size: var(--step--1);

        
    }

    span {

        
        text-decoration: solid;
        text-decoration-style: none;
        text-emphasis: none;

    }

    #footer {

        text-align: center;
        background-color: black;
        color: rgba(255, 255, 255, 0.568);
        margin-top: 20rem;
        margin-bottom: 0;
        align-items: center;
    
    }
    
    .f-items {
    
        padding: 8px 8px 8px 8px; }

    @media screen and (max-width: 35em) and (orientation: portrait){

        
        .a-1 {

            font-size: var(--step--1);

        }
        
     section {

        margin-top: 2rem;
     }

        .headNav {

            flex-direction: column;
        }

        span {

            visibility: hidden;
        }

        .row {

        
            flex-direction: column;
            font-size: var(--step--1);
            padding-left: 3px;
            padding-right: 3px;
        }

       footer {

        font-size: 12px;

       }
        
    }