

    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    ::-webkit-scrollbar {

        width: 1px;
        

    }

   
        html , body {

            margin: 0;
            padding: 0;
        }
    

/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --step--2: clamp(0.87rem, calc(0.83rem + 0.18vw), 0.96rem);
    --step--1: clamp(1.04rem, calc(0.98rem + 0.31vw), 1.20rem);
    --step-0: clamp(1.25rem, calc(1.15rem + 0.49vw), 1.50rem);
    --step-1: clamp(1.50rem, calc(1.35rem + 0.73vw), 1.88rem);
    --step-2: clamp(1.80rem, calc(1.59rem + 1.06vw), 2.34rem);
    --step-3: clamp(2.16rem, calc(1.86rem + 1.50vw), 2.93rem);
    --step-4: clamp(2.59rem, calc(2.17rem + 2.09vw), 3.66rem);
    --step-5: clamp(3.11rem, calc(2.54rem + 2.86vw), 4.58rem);
  }


    :root {
    
        background-image: url(../uploads/BGFULL.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #181B2D;
        font-family: 'Quicksand', sans-serif;
    
    }
    
 i {

    padding-right: 10px;

 }
    
    .row-container-nav {
    
        display: flex;
        justify-content: space-between;
        text-decoration-line: none;
        color: white;
        align-items: center;
        gap: 13px;
    
    
    }
    
    
    
    header {

        top: 0;
        width: 100%;
        
        

    }
    
    .headNav {
    
        display: flex;
        gap: 30px;
        margin: 5px;
        padding: 5px;
        text-decoration: none;
    
    }
    
    a {
    
    
        text-decoration-line: none;
    
    
    }
    
    .a-1 {
    
        font-size: var(--step--5);
        color: rgb(255, 255, 255); 
        padding-left: 10px;
    
    
    }
    
    .a-1:hover {
    
        color: rgba(255, 255, 255, 0.699);
        
    
    }
    
    img , audio , video , canvas , svg , picture  {
    
        width: 100%;
        height: auto;
        
    
    
    
    }
    
   
    
    
    #watermark {
        
        font-size: 22px;
        color: rgb(255, 255, 255); 
        margin: 10px; 
    
    
    }
    
    .main-img {

        max-width: 30rem;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5rem;
        padding-bottom: 10rem;
   
    
    }

    #main-img {

        border-radius: 100%;
      
        

    }

  

      


#footer {

    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.568);
    margin-top: 20rem;
    margin-bottom: 0;
    align-items: center;

}

.f-items {

    padding: 8px 8px 8px 8px; }


    .tittle {

        text-align: center;
        font-size: var(--step-5);
        margin-bottom: 5rem;
        color: whitesmoke;
    
    
    }

section {

    margin-bottom: 22rem;

}

h2  {

        text-align: center;
        font-size: var(--step--4);
        color: whitesmoke;
    
    
   


}
.contain  {

    
    max-width: 30rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;


}

.parrafe {

    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 1px;
    font-size: var(--step--1);

}

.iframe-1 {

    
    max-width: 40rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;


}

.iframe-1 > iframe {

    width: 100%;
    height: 100%;

}

.center-img {

    max-width: 40rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 20px;
  }


  div.final {

    background-color: #242a49;
    border-color: aliceblue;
    margin-bottom: 1px;

  }

.final-container {

    padding-top: 20rem;

}
 

  #finallink {

   display: flex;
   justify-content: center;
   

    color: rgba(255, 255, 255, 0.74);
    


  }


 

 
 


    /* Media Queries Open */
     @media screen and (max-width: 26.25em) and (orientation:portrait) {

     
        
        .row-container-nav  {
       
            flex-direction: column;
            width: 99%;
            justify-content: center;
            margin-top: 1rem;
       
           
        }

        header {

            position: static;
            background: none;

        }
       


        #watermark {
       
           display: none;
       
        }
       
        .main-img {

            max-width: 10rem;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding-top: 5rem;
            padding-bottom: 10rem;


        }
        
        .tittle {

            text-align: center;
            color: whitesmoke;
            font-size: var(--step--5);
        
        
        }

        .parrafe {

            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            color: white;
            padding-top: 1px;
        
        }
        
        .contain  {

    
            max-width: 22rem;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding-top: 1rem;
            padding-bottom: 3rem;
        
        
        }

        .center-img {

            max-width: 22rem;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        
        }

        .iframe-1 {

    
            max-width: 25rem;
            height: 10rem;
            margin-left: auto;
            margin-right: auto;
        
        
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
          }

          .final-container {

            padding-top: 17rem;


        
        }

        
  #finallink {

    position: absolute;
    left: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.74);
    


  }

  .span {

  
    visibility: hidden;

  }

         #footer {

            font-size: smaller;


            }

            /* Media Queries Close */

         }

/* Media Queries Open  */

